* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

body {
    padding: 0%;
    margin: 0;
    background: linear-gradient(to right, rgb(189, 104, 7), rgb(6, 147, 190));
}

.main {
   width: 50%;
   margin: auto;
   justify-content: center;
}

.head3 {
    color:aqua;
    text-decoration: underline;
    margin-bottom: 5px;
}

table {
    border: black solid;
    border-width: 5px;
    border-spacing: 0ch;
}

input {
    background-color: wheat;
    width: 50px;
}

output {
    padding-left: 50px;
    background-color: wheat;

}

button {
    background-color: rgb(39, 47, 49);
    color: orangered;
}